thead th{
	background:#fff;
    border-bottom:1px solid #ccc;
    font-weight:bold;
}

tr:nth-child(odd) {background: #fff}
tr:nth-child(even) {background: #FFF}

.table>thead>tr>th {
	border-bottom:1px solid #cfd8dc;
	vertical-align:top;
	font-weight:normal;
}

.tab_ec{
    padding:20px 12%;
    background:#f5f5f5;
}